@model WebApplicationTest.Models.Usuario
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h2>HOLA MUNDO!</h2>

    
        <form method="post" asp-action="Edit">
            <div>               
                <div class="row px-2 mx-2 border">
                    <input type="hidden" asp-for="Id" name="id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-10 offset-1 mt-4">
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Nombre"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success btn sm">Enviar Nombre</button>

            </div>


        </form>
    


</div>
